<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
      <h1 class="display-4"></i> Exchange Tracker.</h1>
      <p class="lead">Quickly shows the exchange rate between GBP/USD & Bitcoin.  <i class="fa fa-exchange" aria-hidden="true"></i></p>
  </div>

    <div class="container">
      <div class="card-deck mb-3 text-center">

        <div class="card mb-4 shadow-sm">
          <div class="card-header">
            <h4 class="my-0 font-weight-normal"><i class="fa fa-btc" aria-hidden="true"></i> <i class="fa fa-arrow-circle-right" aria-hidden="true"></i> <i class="fa fa-gbp" aria-hidden="true"></i> / <i class="fa fa-usd" aria-hidden="true"></i>  </h4>
          </div>
          <div class="card-body">
            <h2 class="card-title pricing-card-title"><i class="fa fa-gbp" aria-hidden="true"></i><%= @coindesk ["bpi"]["GBP"]["rate_float"]%></h2>
            <h2 class="card-title pricing-card-title"><i class="fa fa-usd" aria-hidden="true"></i><%= @coindesk ["bpi"]["USD"]["rate_float"] %></h2>
            <ul class="list-unstyled mt-3 mb-4">
              <li>Updated: <%= @coindesk ["time"]["updateduk"] %></li>
            </ul>
          </div>
        </div>
        <div class="card mb-4 shadow-sm">
          <div class="card-header">
            <h4 class="my-0 font-weight-normal"><%= @open["rates"]["GBP"] %></h4>
          </div>
          <div class="card-body">
            <h2 class="card-title pricing-card-title"><%= @open["rates"]["USD"] %></h2>
            <ul class="list-unstyled mt-3 mb-4">
              <li></li>
              <li></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <footer class="footer">
     <div class="container">
       <span class="text-muted">Powered by <%= link_to "Coindesk", "https://www.coindesk.com/price/", :target => "_blank" %>,</span>
     </div>
   </footer>
